<div class="container app-nav">
    <br><br>
    <div class="container-fluid text-center">
        <h1>UPDATE - INVOICE</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">


            <div>
                <form [formGroup]="form" (ngSubmit)="submit()">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-sm-12 col-lg-12">
                                <label for="file">
                                    <h5>File:</h5>
                                </label>
                                <input aria-disabled="false" formControlName="file" type="file" class="form-control"
                                    id="file" (focusout)="onFocusOut($event)" #fileInput>

                                <div class="progress" [@progressBar]="prgSts==='ul'?'uploading':'uploaded'">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                        aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100"
                                        [style.width]="progressPercent">
                                        {{progressPercent}}
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-block"
                                    [disabled]="(!file?.errors?.valid)|| (!isFileSizeCorrect)" type="submit">
                                    <h5>Update</h5>
                                </button>
                            </div>

                        </div>

                        <div class="alert alert-danger"
                            *ngIf="((!file?.errors?.valid) && isTouched)|| !isFileSizeCorrect">
                            <p *ngIf="file?.errors?.isNotCSV">{{file?.errors?.message}}</p>
                            <p *ngIf="file?.errors?.required">{{file?.errors?.message}}</p>
                            <p *ngIf="!isFileSizeCorrect">File cannot be greater than 500KB</p>
                        </div>
                    </div>

                </form>
            </div>
            <br>

        </div>
        <div class="col-sm-12 col-lg-8">

            <table class="table table-responsive" [hidden]="validRecorList.length==0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" *ngFor="let hCols of headers">
                            {{hCols}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rows of validRecorList; index as i" class="table-success">
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <td *ngFor="let col of rows.response">
                            {{col}}
                        </td>
                    </tr>
                    <tr *ngFor="let rows of invalidRecorList; index as i" class="table-danger">
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <td [attr.colspan]="headers.length">
                            {{rows.response}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>