<div class="container app-nav">
    <br><br>
    <div class="container-fluid text-center">
        <h1 class="mat-display-1">UPDATE - INVOICE</h1>
        <!-- <hr> -->
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div>
                <form [formGroup]="form" (ngSubmit)="submit()">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-sm-12 col-lg-12">
                                <label for="file">
                                    <h3>File:</h3>
                                </label>
                                <input aria-disabled="false" formControlName="file" type="file" class="form-control"
                                    id="file" (focusout)="onFocusOut($event)" #fileInput>

                                <div class="progress" [@progressBar]="prgSts==='upldg'?'uploading':'uploaded'">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                        aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100"
                                        [style.width]="progressPercent">
                                        {{progressPercent}}
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-block mat-raised-button"
                                    [disabled]="(!file?.errors?.valid)|| (!isFileSizeCorrect)" type="submit">
                                    Update
                                </button>
                            </div>

                        </div>

                        <div class="alert alert-danger"
                            *ngIf="((!file?.errors?.valid) && isTouched)|| !isFileSizeCorrect">
                            <p *ngIf="file?.errors?.isNotCSV">{{file?.errors?.message}}</p>
                            <p *ngIf="file?.errors?.required">{{file?.errors?.message}}</p>
                            <p *ngIf="!isFileSizeCorrect">File cannot be greater than 500KB</p>
                        </div>
                    </div>

                </form>
                <!-- <button class="btn btn-danger" (click)="toggle()">
                    Toggle
                </button>
                <div class="container" [@test]="testStr=='s1'?'s1':'s2'">
                    <h1>test</h1>
                </div> -->
            </div>
            <br>

        </div>
        <div class="col-sm-12 col-lg-8">
            <h3 class="mat-h2 mat-title">
                Response:
                <button type="button" class="btn btn-sm btn-outline-success" [disabled]="validRecorList.length==0"
                    (click)="toggleTable('s')">
                    Success <span class="badge badge-light">{{validRecorList.length}}</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" [disabled]="invalidRecorList.length==0"
                    (click)="toggleTable('e')">
                    Error <span class="badge badge-light">{{invalidRecorList.length}}</span>
                    <span class="sr-only">unread messages</span>
                </button>

            </h3>

            <div class="col-sm-12"
                [style.display]="(validRecorList.length==0&&invalidRecorList.length==0)&&displaySpinner?'block':'none'">
                <mat-spinner [color]="'warn'" class="my-mat-spinner"></mat-spinner>
            </div>
            <table class="table table-responsive" [hidden]="toggleSuccessTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" *ngFor="let hCols of headers">
                            {{hCols}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rows of validRecorList; index as i" class="table-success">
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <td *ngFor="let col of rows.response">
                            {{col}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive" [hidden]="toggleErrorTable">
                <thead>
                    <tr>
                        <th scope="col">Errors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rows of invalidRecorList; index as i" class="table-danger">

                        <td [attr.colspan]="headers.length">
                            <b>{{i+1}}&emsp;</b> {{rows.response}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>