<div class="row app-nav">
    <div class="col-sm-4" *ngFor="let res of resources">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{res.service}}</h5>
            </div>
            <div class="card-body">

                <p class="card-text">{{res.message}}</p>
                <a class="btn" 
                    [class.btn-primary]='res.method=="GET"'
                    [class.btn-success]='res.method=="POST"'
                    [routerLink]='res.url'
                    >
                    {{res.method}}
                </a>
            </div>
        </div>
    </div>
</div>