<br><br><br>
<div class="container text-center">

    <h1>SYSTEM - INVOICES</h1>
    <hr>
    <div class="card" *ngFor="let invoice of invoices">
        <div class="card-header text-right">
            <b>InvoiceNumber:</b> {{invoice.InvoiceNumber}}
        </div>
        <div class="card-body text-left">
            <h5 class="card-title">Details</h5>
            <p class="card-text">
                <b>CreationDate: </b>{{invoice.CreationDate}}<br>
                <b>CreatedBy: </b>{{invoice.CreatedBy}}<br>
            </p>
            <a [routerLink]="['/invoice/getInvoice',invoice.InvoiceNumber]" class="btn btn-primary">Open</a>
        </div>
    </div>

</div>
<br><br><br>